{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'clients/style.css' %}" />


<nav class="top-bar">
    <ul>
      {% if not user.is_anonymous %}
          <li><a href="/">{{ user }}</a></li>
          <li><a href="{% url 'logout' %}">Выйти</a></li>
      {% else %}
          <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
          <li><a href="{% url 'login' %}">Войти</a></li>
      {% endif %}
    </ul>

</nav>

    {% block content %}
    {% endblock %}
