{% extends "clients/base.html" %}

{% block title %}List of clients{% endblock %}

{% block content %}
    <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <h4>Search</h4>

        <input type="search" name="name" maxlength="30" id="id_name"/><br>

        <button type="submit">Search</button>
    </form>

    <form id="form_sort" method="get">


        <table border="1">
            <caption>Clients</caption>
            <tr>
                <th><a href="{% url 'sort' %}?order={% if order == 'name' %}-name{% else %}name{% endif %}">Name</a>
                </th>
                <th><a href="{% url 'sort' %}?order={% if order == 'surname' %}-surname{% else %}surname{% endif %}">Username</a>
                </th>
                <th>
                    <a href="{% url 'sort' %}?order={% if order == 'birth_Day' %}-birth_Day{% else %}birth_Day{% endif %}">Birth
                        Day</a></th>
            </tr>
            {% for client in client_list %}
                <tr>
                    <td><a href="{% url 'info_clients' pk=client.pk %}"> {{ client.name }} </a></td>
                    <td><a href="{% url 'info_clients' pk=client.pk %}"> {{ client.surname }} </a></td>
                    <td><a href="{% url 'info_clients' pk=client.pk %}"> {{ client.birth_Day }} </a></td>
                </tr>
            {% endfor %}
        </table>
    </form>

    <a class="download" href="{% url 'download' %}" download>Download</a>

{% endblock %}