{% extends "clients/base.html" %}
{% load staticfiles %}

{% block title %}Information of client{% endblock %}

{% block content %}
    <form action="{% url 'delete_clients' object.id %}" method="post">
        {% csrf_token %}

        {% if client.photo %}
            <img src="{{ MEDIA_URL }}{{ client.photo.url }} ">
        {% endif %}

        <label>Name:</label>
        {{ client.name }}<br>

        <label>Username:</label>
        {{ client.surname }}<br>

        <label>Birth Day:</label>
        {{ client.birth_Day }}<br>

        {#        <table class="table">#}
        {#            <tr>#}
        {% if object.creator_id ==  user.id %}
            {#                    <td class="nostyle">#}
            <button type="submit">Delete</button>
            {#                    </td>#}
            {#                    <td class="nostyle">#}
            <a href="{% url 'update_client' object.id %}" class="button">Update</a>
            {#                    </td>#}
        {% endif %}
        {#                <td class="nostyle">#}
        <button type="button" onclick="window.history.go(-1);">Back</button>
        {#                </td>#}
        {#            </tr>#}
        {#        </table>#}
    </form>
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
{#    {% for comm in comment %}#}
        <label>Comments</label>
        {{ comment.text }}
        {#    {% for comment in  %}#}
{#    {% endfor %}#}
{% endblock %}