{% extends "clients/base.html" %}
{% load staticfiles %}

{% block title %}Information of client{% endblock %}

{% block content %}
    <form action="{% url 'delete_clients' object.id %}" method="post">
        {% csrf_token %}

        {% if client.photo %}
            <img src="{{ MEDIA_URL }}{{ client.photo.url }} ">
        {% endif %}

        <label>Name:</label>
        {{ client.name }}<br>

        <label>Username:</label>
        {{ client.surname }}<br>

        <label>Birth Day:</label>
        {{ client.birth_Day }}<br>

        <button type="submit">Delete</button>
        <a href="{% url 'update_client' object.id %}" class="button">Update</a>
        <button  type="button" onclick="window.history.go(-1);">Back</button>
    </form>
    {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

{% endblock %}