{% extends "clients/base.html" %}

{% block title %}Information of client{% endblock %}

{% block content %}
        <table border="1">
        <caption>Clients</caption>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Birth Day</th>
        </tr>
        <tr>
            <td><a href="{% url 'info_clients' pk=client.pk %}"> {{ client.name }} </a></td>
            <td> {{ client.surname }} </td>
            <td> {{ client.birth_Day }} </td>
            {% if client.photo %}
                <td><img src="{{MEDIA_URL}}{{client.photo.url}} "></td>
            {% endif %}
        </tr>
    </table>
{% endblock %}