{% extends 'clients/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for client in clients %}
         {% if client.photo %}
            <div class="div_like">
                <img src="{{ MEDIA_URL }}{{ client.photo.url }} ", name="{{ client.id }}"><br>
                <a href="{% url 'info_clients' client.pk %}" class=".name">{{ client.name }} {{ client.surname }}</a>
                <input type="hidden" id="client_id" value="{{ client.id }}">
                <a href="{% url 'like' %}"  id="item_like">
                    <i class="i_like"></i>
                    <span id="number_like">{{ client.likes }}</span>
                </a>
            </div>
         {% endif %}
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'clients/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'clients/ajax.js' %}"></script>
{% endblock %}