{% extends 'clients/base.html' %}
{% load staticfiles %}

{% block messages %}
{% endblock %}



{% block content %}
    {% for client in clients %}
         {% if client.photo %}
            <div class="div_like">
                <img src="{{ MEDIA_URL }}{{ client.photo.url }}", id="client_img"><br>

                <a href="{% url 'info_clients' client.id %}" class="name">{{ client.name }} {{ client.surname }}</a>

                <a id="item_like" href="#" data-id="{{client.id}}">
                    <i class="i_like"></i>
                    <span id="id_like_{{client.id}}">{{ client.likes }}</span>
                </a><br>
                <span class="message" id="message_{{client.id}}"></span>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'clients/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'clients/ajax.js' %}"></script>
{% endblock %}