{% extends 'clients/base.html' %}
{% load staticfiles %}

<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
    {% csrf_token %}

    <label for="login">Логин</label>
        <input type="text" name="username"  placeholder="Enter your login" required>

    <label for="password">Пароль</label>
        <input type="text" name="password" placeholder="Enter your password" required>


    <input type="submit" class="button" value="login" />
    <input type="hidden" class="button" name="next" value="{{ next }}" />

</form>