{% extends 'clients/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

    <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <h4>Search</h4>

        <label for="id_name">Name:</label><br>
            <input type="search" name="name" maxlength="30" id="id_name" /><br>

        <label for="id_surname">Surname:</label><br>
            <input type="search" name="surname" maxlength="30" id="id_surname" /><br>

        <button type="submit">Search</button>
    </form>

    <form id="form_sort">

        <table border="1">
            <caption>Result</caption>

            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Birth Day</th>
            </tr>

            {% for client in filter.qs %}
                <tr>
                    <td>{{ client.name}}</td>
                    <td>{{ client.surname}}</td>
                    <td>{{ client.birth_Day}}</td>
                </tr>
            {% endfor %}

        </table>
    </form>

{% endblock %}