html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, b, center, ul, li,
form, label, table, caption,
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
    font: normal 16px/18px Verdana, Arial, sans-serif;
	color: #fff;
	background-color: #bbbbbb;
	box-sizing: border-box;
}

header {
	background-color: darkblue;
	padding: 10px 30px;
}

header nav {
	float: right;
}

header li {
	display: inline-block;
	padding: 15px 15px;
}

header a {
    margin-top: 10px;
}

header  li a {
    margin-top: 15px;
	color: #fff;
}

header li a:hover {
	color: #bbb;
}

footer {
	position: relative;
	width: 100%;
    height: 4%;
	bottom: 0;
    top: 50px;
	left: 0;
	background-color: darkblue;
}

footer p {
	padding: 10px 0px;
	margin-left: 30px;
}

a {
text-decoration: none;
}

input {
    line-height: normal;
}

button {
    margin-top: 10px;
	padding: 8px 10px;
}

form {
	width: 17%;
	padding: 20px;
    margin: 50px auto 0;
    text-align: left;
	/*background-color: ;*/
	border: 1px solid;
	border-radius: 3px;
}

form h4 {
	margin: 20px;
	font-size: 28px;
	text-align: center;
}

form input {
	width: 97%;
	margin: 10px 0px;
	display: block;
	border: none;
	padding: 5px;
}

form button {
    display:inline-block;
    float:right;
    margin: 0;
}

form select {
	margin-top: 10px;
}

form label {
	margin: 10px 0px;
}

.top-bar ul li {
    list-style-type: none;
}

.logo {
	font: 26px/26px monospace, Verdana, Arial, sans-serif;
	color: #eee;
	display: inline-block;
}

.error {
    font: normal 26px/18px Verdana, Arial, sans-serif;
    color: red;
    text-align: center;
}