html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, b, center, ul, li,
form, label, table, caption,
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
    font: normal 16px/18px Verdana, Arial, sans-serif;
	color: #fff;
	background-color: #bbbbbb;
	box-sizing: border-box;
}

header {
	background-color: darkblue;
	padding: 10px 30px;
}

header nav {
    float: right;
}

header li {
	display: inline-block;
	padding: 0 15px;
    margin-top: 5px;
}

header  li a {
    margin-top: 25px;
	color: #fff;
}

header li a:hover {
	color: #bbb;
}

footer {
	position: relative;
	width: 100%;
    height: 4%;
	bottom: 0;
    top: 50px;
	left: 0;
	background-color: darkblue;
}

footer p {
	padding: 10px 0px;
	margin-left: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    line-height: normal;
}

img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px 10px;
}

button {
    margin-top: 10px;
	padding: 8px 10px;
}

form {
	width: 17%;
	padding: 20px;
    margin: 50px auto 0;
    text-align: left;
	/*background-color: ;*/
	border: 1px solid;
	border-radius: 3px;
}

form h4 {
	margin: 20px;
	font-size: 28px;
	text-align: center;
}

form img {
	display: block;
	margin: 0 auto 20px;
	width: 150px;
	height: 150px;
}

form input {
	width: 100%;
	margin: 10px 0px;
	border: none;
	padding: 5px;
	display: inline-block;
}

form input[type='checkbox'] {
	width: 25px;
	margin-left: 10px;
}

label{
	margin: auto;
}

form button {
    display:inline-block;
    float:right;
    margin: 0;
}

.button {
    -webkit-writing-mode: horizontal-tb;
    -webkit-appearance: button;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    cursor: default;
    color: buttontext;
    margin: 0px  0px 0px 145px;
	padding: 8px 10px;
    border: 2px outset buttonface;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    font: 13.3333px Arial;
    height: auto;
    float:right;

}

form select {
	margin-top: 10px;
}

th {
  font-size: 18px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}

td {
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}

tr:hover td {
	background: #ccddff;
}

.top-bar ul li {
    list-style-type: none;
}

.logo {
	font: 26px/26px monospace, Verdana, Arial, sans-serif;
	color: #eee;
	display: inline-block;
}

.error {
    font: normal 26px/18px Verdana, Arial, sans-serif;
    color: red;
    text-align: center;
}

#form_sort {
    border: none;
}

.i_like {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-size: 100%!important;
    background: url(/public/like.png) no-repeat;
}

#number_like {
    color: white;
}

#item_like {
    color: #2a5885;
    padding: 5px 6px 6px;
    margin-right: 100px;
}

#number_like:hover {
    color: black;
}

.div_like {
    display: inline-block;
    width: 220px;
    height: 300px;
    margin-right: 10px;
}